name: ci

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build-test:
    runs-on: windows-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: "8.0.x"

      - name: Restore
        run: dotnet restore

      - name: Build
        run: dotnet build DevChronicle.csproj -c Release -v minimal -p:OutDir=artifacts\tmpbuild\

      - name: Test
        run: dotnet test Tests/DevChronicle.Tests/DevChronicle.Tests.csproj -c Release -v minimal -p:OutDir=artifacts\tmpbuild\
